*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #dad5d5;
    position: relative;
}
#header{
    background-color: red;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}
#header-img{
    margin-left: 1.5rem;
}

#header_title {
    margin-right: auto;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
} 

#nav-bar{
    background-color: #dad5d5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link{
    padding: 0.6rem;
    margin-left: 0.7rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: black
}
#form-section{
    display: flex;
    width: 100%;
    justify-content: center;
}
#form{
    margin-top: 8rem;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}

#form > input{
    margin: 1.2rem 0;
    padding: 0.8rem 2rem;
    width: 80%;
    text-align: center;
    font-size: 1.1rem;
}

#submit{
    width: 50% !important;
    background-color: orange;
}
.section-img{
    width: 4rem;
    height: 4rem;
}

#features{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-card{
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}

.feature-card > div{
    margin-left: 3rem;
}

#howWorks {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    height: 50vh;
}

#pricing {
    display: flex;
    justify-content: center;

}

.card {
    box-shadow: 1px 1px 3px black;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
}

.select {
    padding: 0.8rem 2rem;
    background-color: orange;
    margin-top: 2rem;
}

footer {
    background-color: grey;
    text-align: center;
    font-size: 1.5rem;
    padding: 2.5rem 0;
}


@media screen and (max-width: 375px){
    #features{
        background-color: pink;
    }
}

@media screen and (max-width: 375px){
    #features{
        background-color: pink;
    }
}